<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings />
  <appSettings>
    <add key="GenelConnectionString" value="Database=AMBAR;Server=.;uid=Genel;pwd=1453" />
    <add key="SqlTarihFormat" value="SET DATEFORMAT DMY" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
</configuration>